@import "tailwindcss";

/* Color tokens */
:root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #417c22;
    --primary-hover: #315f19;

    --accent: #ff6600;

    --link: #1769aa;
    --link-hover: #ff6600;
}

/* Theme tokens */
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-accent: var(--accent);
    --color-link: var(--link);
    --color-link-hover: var(--link-hover);
    --color-whatsapp: #455a64;
    --font-base: var(--font-barlow);
    --font-heading: var(--font-barlow);
    --font-slogan: var(--font-squada-one);

    --text-sm: 0.875rem;
    --text-base: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;

    --text-h1: 4rem;
    --text-h1--line-height: 1.2;
    --text-h1--letter-spacing: 0.02em;

    --text-h2: 3rem;
    --text-h2--line-height: 1.4;
    --text-h2--letter-spacing: 0.02em;

    --text-h3: 1.5rem;
    --text-h3--line-height: 1.25;
    --text-h3--letter-spacing: 0.02em;

    --text-h4: 1.25rem;
    --text-h4--line-height: 1.2;
    --text-h4--letter-spacing: 0.02em;

    --line-height-base: 1.5;
    --line-height-lg: 1.8;

    --letter-spacing-base: 0.02em;
    --letter-spacing-lg: 0.04em;
    --letter-spacing-xl: 0.065em;
    --letter-spacing-2xl: 0.1em;
    --letter-spacing-3xl: 0.15em;

    --spacing-section: 7.5rem;
    --spacing-container: 3.5rem;
    --max-width-content: 80rem;
    --height-header: 4rem;
}

/* Base elements */
body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-base);
    font-size: var(--text-base);
}
button {
    @apply cursor-pointer;
}
p {
    font-size: var(--text-base);
    line-height: var(--line-height-base);
}

h1 {
    font-family: var(--font-heading);
    font-size: var(--text-h1);
    line-height: var(--text-h1--line-height);
    letter-spacing: var(--text-h1--letter-spacing);
    font-weight: 500;
}

h2 {
    font-family: var(--font-heading);
    font-size: var(--text-h2);
    line-height: var(--text-h2--line-height);
    letter-spacing: var(--text-h2--letter-spacing);
    font-weight: 600;
}

h3 {
    font-family: var(--font-heading);
    font-size: var(--text-h3);
    line-height: var(--text-h3--line-height);
    letter-spacing: var(--text-h3--letter-spacing);
    font-weight: 600;
}

h4 {
    font-family: var(--font-heading);
    font-size: var(--text-h4);
    line-height: var(--text-h4--line-height);
    letter-spacing: var(--text-h4--letter-spacing);
    font-weight: 500;
}

/* Layout */
.header {
    @apply fixed top-0 left-0 w-full z-50 bg-white/80 backdrop-blur-md h-header;
}

.main-container {
    @apply w-full max-w-full md:max-w-2xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl mx-auto;
}

.main-container-sm {
    @apply w-full max-w-96 md:max-w-2xl lg:max-w-4xl xl:max-w-5xl m-auto;
}

.page-section {
    @apply w-full px-5 md:px-10 2xl:px-section;
}

.hero-section {
    @apply w-full px-5 md:px-10 lg:px-section pt-16;
}

.section-y-spacing {
    @apply py-10 md:py-14 lg:py-20;
}
.section-full-height {
    min-height: calc(100dvh - var(--height-header));
}

.bg-image-cover {
    @apply bg-cover bg-center bg-no-repeat;
}

/* Buttons and links */
.btn {
    letter-spacing: var(--letter-spacing-lg);
    @apply inline-flex items-center justify-center rounded-full py-2 px-10 text-[18px] min-h-14 uppercase text-lg font-bold;
}
.btn-rounded {
    letter-spacing: var(--letter-spacing-lg);
    @apply inline-flex items-center justify-center rounded-full py-2 px-2 text-[18px]  uppercase text-lg font-bold;
}
.btn-whatsapp {
    @apply inline-flex items-center justify-center rounded-full py-2 px-10 text-[18px] min-h-14 text-base font-bold text-white;
}
.btn-wathsapp-primary {
    background: var(--color-whatsapp);
}
.btn-primary {
    background: var(--color-primary);
    @apply text-white;
}

.btn-hero {
    letter-spacing: var(--letter-spacing-xl);
    @apply text-xl;
}

.btn-sm {
    @apply py-2 px-4 min-h-10 text-sm;
}

.btn-full-rounded {
    @apply rounded-full;
}
.link {
    color: var(--color-link);
    text-decoration: none;
    @apply hover:text-link-hover;
}
.link-disabled {
    @apply pointer-events-none opacity-50 cursor-not-allowed text-gray-400;
}
.link:hover {
    color: var(--primary-hover);
    text-decoration: none;
}

.menu-link {
    @apply text-black;
}

.menu-link:hover {
    @apply text-primary;
}

/* Generic cards */
.cart {
    @apply bg-background shadow relative overflow-hidden rounded-2xl border border-black/10;
}

/* Text helpers */
.text-slogan {
    @apply uppercase text-[14vw] sm:text-8xl xl:text-9xl font-slogan leading-none font-normal;
}

.text-title {
    @apply uppercase text-4xl md:text-7xl xl:text-8xl font-slogan font-normal;
}

.text-subtitle {
    letter-spacing: var(--letter-spacing-lg);
    @apply text-xl lg:text-2xl font-base  font-normal;
}

.text-subtitle-small {
    letter-spacing: var(--letter-spacing-xl);
    @apply text-base md:text-lg font-slogan font-normal;
}

.text-eyebrow {
    letter-spacing: var(--letter-spacing-3xl);
    @apply uppercase text-sm lg:text-2xl font-slogan font-normal;
}

.text-number {
    font-family: var(--font-slogan);
    @apply text-3xl lg:text-5xl font-bold leading-0;
}

.with-accent-separator-left::before {
    content: "";
    background-color: var(--accent);
    @apply w-4 lg:w-12 h-0.5 lg:h-1 mr-2 lg:mr-4 inline-block;
}

.with-accent-separator-right::after {
    content: "";
    background-color: var(--accent);
    @apply w-4 lg:w-12 h-0.5 lg:h-1 ml-2 lg:ml-4 inline-block;
}

.with-small-accent-separator-left::before {
    content: "";
    @apply w-4 lg:w-12 h-0.5 mr-2  inline-block  bg-black/20;
}

.with-mini-accent-separator-right::after {
    background-color: var(--primary);
    content: "";
    @apply w-5  h-0.5 ml-4  inline-block;
}
.with-small-accent-separator-right::after {
    content: "";

    @apply w-4 lg:w-12 h-0.5 ml-2  inline-block bg-black/20;
}
.star svg {
    @apply w-full h-full;
}
/* Embla */
.embla {
    --embla-slide-spacing: 1.5rem;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    align-items: stretch;
    display: flex;
    margin-left: calc(var(--embla-slide-spacing) * -1);
    touch-action: pan-y pinch-zoom;
}

.embla__slide {
    box-sizing: border-box;
    flex: 0 0 100%;
    min-width: 0;
    padding-left: var(--embla-slide-spacing);
    @apply grow-0 shrink-0;
}

/* Gallery */
.gallery-grid {
    --gallery-row-size: clamp(11rem, 36vw, 16rem);
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, var(--gallery-row-size)));
    grid-template-areas:
        "box-1 box-1"
        "box-2 box-3"
        "box-4 box-4"
        "box-5 box-6"
        "box-7 box-7";
}

.gallery-grid-item {
    height: 100%;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    @apply shadow;
}

.gallery-grid-item:nth-child(1) {
    grid-area: box-1;
}

.gallery-grid-item:nth-child(2) {
    grid-area: box-2;
}

.gallery-grid-item:nth-child(3) {
    grid-area: box-3;
}

.gallery-grid-item:nth-child(4) {
    grid-area: box-4;
}

.gallery-grid-item:nth-child(5) {
    grid-area: box-5;
}

.gallery-grid-item:nth-child(6) {
    grid-area: box-6;
}

.gallery-grid-item:nth-child(7) {
    grid-area: box-7;
}

/* Breakpoints */
@media (min-width: 768px) {
    .embla__slide {
        flex-basis: 50%;
    }

    .gallery-grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, clamp(18rem, 8vw, 18rem)));
        grid-template-areas:
            "box-1 box-1 box-2 box-2 box-3 box-3"
            "box-4 box-4 box-4 box-5 box-5 box-5"
            "box-6 box-6 box-6 box-7 box-7 box-7";
    }
}

@media (min-width: 1024px) {
    .embla__slide {
        flex-basis: 33.333333%;
    }

    .gallery-grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-rows: repeat(6, minmax(0, clamp(8rem, 9vw, 9rem)));
        grid-template-areas:
            "box-1 box-1 box-1 box-1 box-1 box-1 box-2 box-2 box-2 box-3 box-3 box-3"
            "box-1 box-1 box-1 box-1 box-1 box-1 box-2 box-2 box-2 box-3 box-3 box-3"
            "box-1 box-1 box-1 box-1 box-1 box-1 box-4 box-4 box-4 box-4 box-4 box-4"
            "box-1 box-1 box-1 box-1 box-1 box-1 box-4 box-4 box-4 box-4 box-4 box-4"
            "box-5 box-5 box-5 box-5 box-6 box-6 box-6 box-6 box-7 box-7 box-7 box-7"
            "box-5 box-5 box-5 box-5 box-6 box-6 box-6 box-6 box-7 box-7 box-7 box-7";
    }
}
